-@rooms = Room.all
:javascript
  window.room_id = #{@rooms.collect { |obj| obj.id }}

#mass_assign.modal.fade.hide{:data => {:url => update_multiple_setpoints_url}}
  .modal-header
    = link_to '✖', 'javascript:void(0)', :class => 'close', :"data-dismiss" => "modal"
    %h3
      Consigne
  %form
    .modal-body

      - @rooms.each do |room|
        -if !room.isoutside?
          .field
            =room.name
            %br
            = text_field_tag "room_temperature_#{room.id}", '',  :type => :number
    .modal-footer
      %a.btn{:href => 'javascript:void(0)', :"data-dismiss" => "modal"}
        Annuler
      %a.submit.btn.btn-primary Enregistrer
