body {
	background: #444;
	color: white;
	text-shadow: -1px -1px 0 #000000;
}

h1 {
	font-size: 250%;
	color: white;
	text-align:center;
	color:#FFFFFF;
	margin-top: -20px;
}

.icon-cloud {
	font-size: 15em;
	text-align: center;
	color: #FFFFFF;
}

#identification-content {
	margin: 50px auto 0;
	width: 320px;
	text-align: center;
}

.texte{
		text-align: center;
		vertical-align: center;
}

label{
	color: white;
}

input.btn {
	}

input, input[type="text"], input[type="password"], input.btn {
	width: 260px;
	margin-bottom: 15px;
	padding: 5px;
}

button.btn, input.btn[type="submit"] {
	width: 270px;
}

footer {
	font-size: 0.9em;
	margin-top: -20px;
	color: #DDDDDD;
	text-shadow: none;
}

footer a:link, footer a:visited {
	color: #DDDDDD;
	text-shadow: none;
}