@media (max-width: 979px) {
	.navbar .nav > li.hello {
		display: none;
	}
}

@media (max-width: 854px) {
	body {
		padding: 0;
	}

	.subnavbar-inner {
	    height: auto;
	}

	.subnavbar .container-fluid > ul {
    	border: medium none;
	    height: auto;
	    width: 100%;
	}

	.subnavbar .container-fluid > ul > li {
	    border: medium none;
	    height: 70px;
	    margin-bottom: 0;
	    width: 33%;
	}


	.subnavbar .container-fluid > ul > li.active > a {
	    background: none;
	}

	aside > ul > li > a span {
		display: none;
	}

	aside, aside > ul, aside > .nav > li [class*=" icon-"] {
		width: 50px;
	}
	section {
		/*margin-left: 50px;*/
	}

	aside > .nav > li > a:link, aside > .nav > li > a:visited {
		padding: 10px 0;
	}

	section div.container-fluid {
		padding: 20px;
	}

	aside > ul {
		display: block;
	}

 	li.time-display-right {
		position: relative;
		right   : 0;
 	}

 	aside {
 		top:269px;
 	}

 	div.history-top {
 		display: block;
 		position: relative;
 		top:auto;
 		right: auto;
 		width: 100%;
 	}

 	div.history-top div.btn-group {
 		width: 100%;
 	}
 	div.history-top div.btn-group a.btn {
 		display: block;
 		margin: 5px auto;
 		width: 100%;
 		border-radius: 5px;
 		padding: 5px 0;
 	}
}

@media (max-width:480px){
	section {
		margin: 0;
		border-radius: 0;
	}

	aside {
		margin: 0;
	}

	aside, aside ul {
		position: relative;
		width: 100%;
		top:0;
	}

	aside > ul > li > a span {
		display: inline;
	}

	aside > ul {
		display: none;
	}

	aside .toggle-submenu {
		text-align: right;
		padding: 5px 0;
		background-color: #292929;
		display: block;
		height: 30px;
	}

	aside .toggle-submenu span {
		color: #FFF;
	}

	aside .nav {
		margin-bottom: 0;
	}

	aside > .nav > li > a:link, aside > .nav > li > a:visited {
	    padding-right: 10px;
	}

	section div.container-fluid {
	    padding: 10px;
	}

	.piece h4 {
		padding-top: 0;
		font-size: 1.1em;
	}

	.piece .temperature {
		font-size: 1.2em;
	}

	.piece .consigne {
		top:-1px;
		font-size: 0.85em;
	}
}